body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: hwb(0 87% 8% / 0.855);
    top: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 60px;
    transition: top 0.3s ease-in-out;
    z-index: 99;
}
.logo img {
    width: 60px; 
    height: auto; 
    margin-right: 50px; 
}
.custom-paragraph {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 1.5;
    
}

.links a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    transition: color 0.1s ease-in-out;
    margin-right: 20px;
}

.links a:hover {
    color: rgb(227, 111, 203); 
    transform: scale(1.1);
}

.content {
    padding: 60px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galery-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3abe2;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.galery-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: rgba(237, 155, 242, 0.199);
    z-index: 1;
  }
  .galery-title {
    margin-bottom: 100px;
    position: absolute;
    top: 0;
    transform: translateY(72px);
  }
.galery-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item {
    position: relative;
    height: 400px;
    width: 350px;
    margin: 0 20px;
    background-color: #f4eef3eb;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    z-index: 1;
 }
 .card-item:hover {
     height: 420px;
   
 }
 .card-item img {
     position: relative;
     width: 300px;
     height: 370px;
     min-height: 270px;
     margin-top: -60px;
     z-index: 1;
     border-radius: 5px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
     
 
 }
 .card-content {
     position: relative;
     padding: 10px 15px;
     text-align: center;
     color:#111;
     visibility: hidden;
     opacity: 0;
     transition: 0.3s ease-in-out;
 }
 .card-item:hover .card-content{
     visibility: visible;
     opacity: 1;
     margin-top: 30px;
     transition-delay: 0.3s;
 }
 .content-h2 {
    border-bottom: solid 1px #7c3983;
    font-family: 'Font Name', sans-serif;
    color: #b96db7;
 }
 .description-section {
    min-height: 250px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.description-section p{
    margin: 0 200px;
}

.description-section h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Font Name', sans-serif;

}


.footer {
    min-height: 150px;
    background-color: rgba(243, 217, 228, 0.885);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container {
    display: flex; 
    justify-content: space-between;
    
}

.box {
    border: 1px solid #f2e7f3da;
    padding: 20px;
    width: calc(50% - 10px); 
    
}

.box img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 10px auto 10px;
    border-style:inherit
    

    
    
}

.box p {
    font-size: 16px;
    text-align: center;
}


.footer-sec p {
    font-size: 20px;
    color: #000000;
    max-width: 200px;
}



.footer-sec i {
    font-size: 45px; 
}
.corporation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section {
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
}
 












/* GALLERY CSS */
.gallery-title2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.gallery-page {
    width: 100%;
}

.gal-form {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000ec;
    margin-top: 90px;
    padding-top: 50;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    width: 100%;
    gap: 30px; 
    
}

.box1 {
    position: relative;
    width: 27%;
    cursor: pointer;
    aspect-ratio: 1;
    overflow: hidden;
    transition: transform ease-in-out 0.5s;
    margin: 10px;
    margin-bottom: 100px;
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.827);
    border-radius: 5px;
   
   
}

.box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1:hover{
    transform: scale(1.2);
}

/* HOME PAGE CSS */

.fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
 
  .content2 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .enter-link {
    color: rgb(221, 153, 153);
    padding: 400px 0px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: fit-content; 
    margin-left: 5px; 
    margin-right: 5px;
  }
 

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
  }
  
  .headline {
    color: rgb(221, 153, 153);
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;

  }
  
/* CONTACT PAGE CSS */


.contactText {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.665);
    color: white;
    padding: 20px;
    margin-top: 60px;

  }

  .contactText p {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
  }

  .contactText input[type="text"],
  .contactText input[type="email"],
  .contactText textarea,
  .contactText input[type="submit"] {
    width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box; 
}



  .contactText input[type="submit"] {
    background-color: rgb(195, 133, 133);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .contactText input[type="submit"]:hover {
    background-color: rgb(191, 115, 115);
  }