body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: hwb(0 100% 0%);
    top: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 60px;
    transition: top 0.3s ease-in-out;
    z-index: 99;
}
.logo img {
    width: 60px; 
    height: auto; 
    margin-right: 50px; 
}
.custom-paragraph {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 1.5;
    
}



.links a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    transition: color 0.1s ease-in-out;
    margin-right: 20px;
}

.links a:hover {
    color: rgb(227, 111, 203); 
    transform: scale(1.1);
}

.content {
    padding: 60px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.galery-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3abe2;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.galery-sec::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: rgba(237, 155, 242, 0.199);
    z-index: 1;
  }
  .galery-title {
    margin-bottom: 100px;
    position: absolute;
    top: 0;
    transform: translateY(72px);
  }
.galery-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-item {
    position: relative;
    height: 400px;
    width: 350px;
    margin: 0 20px;
    background-color: #e4efe2;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    z-index: 1;
 }
 .card-item:hover {
     height: 420px;
   
 }
 .card-item img {
     position: relative;
     width: 300px;
     height: 370px;
     min-height: 270px;
     margin-top: -60px;
     z-index: 1;
     border-radius: 5px;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
 
 }
 .card-content {
     position: relative;
     padding: 10px 15px;
     text-align: center;
     color:#111;
     visibility: hidden;
     opacity: 0;
     transition: 0.3s ease-in-out;
 }
 .card-item:hover .card-content{
     visibility: visible;
     opacity: 1;
     margin-top: 30px;
     transition-delay: 0.3s;
 }
 .content-h2 {
    border-bottom: solid 1px #7c3983;
    font-family: 'Font Name', sans-serif;
    color: #b96db7;
 }
 .description-section {
    min-height: 250px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.description-section p{
    margin: 0 200px;
}

.description-section h2{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Font Name', sans-serif;

}


.footer {
    min-height: 150px;
    background-color: rgb(243, 208, 223);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container {
    display: flex; 
    justify-content: space-between;
}

.box {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(50% - 10px); 
}

.box img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 10px auto 10px;
    
}

.box p {
    font-size: 16px;
    text-align: center;
}

.footer-sec p {
    font-size: 20px;
    color: #000000;
    max-width: 200px;
}



.footer-sec i {
    font-size: 45px; 
}







.image-section {
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
}
