body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


/* NAVBAR SECTION */
.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: hwb(0 87% 8% / 0.855);
    top: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 60px;
    transition: top 0.3s ease-in-out;
    z-index: 99;
  }
  
  .links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 15px;
  }
  
  .links a:hover {
    color: rgb(227, 111, 203);
    transform: scale(1.1);
  }
  
  .links a.active {
    font-weight: bold;
    color: rgb(4, 3, 3);
  }
  
  .logo img {
    width: 60px;
    height: auto;
    margin-right: 50px;
  }






  


/* INDEX.HTML PAGE */

.container {
    display: flex;
    justify-content: space-between;
  }
  .fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .container2 img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
  }
  
  .container2 {
    max-width: 80%;
    text-align: center;
  }
  .enter-link {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(241, 122, 122, 0.397);
    color: rgb(5, 5, 5);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 210px;
  }
  
  .content2 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: rgb(183, 172, 172);
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(199, 187, 187, 0.348);
  }











/* ABOUT.HTML PAGE */
.custom-paragraph {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 1.5;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-sec {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../img/back.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.gallery-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.578);
  z-index: 1;
}
.gallery-title {
  margin-bottom: 200px;
  display: flex;
  top: 0;
  transform: translateY(72px);
}
.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item {
  position: relative;
  height: 400px;
  width: 350px;
  margin: 0 20px;
  background-color: #f4eef3eb;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  z-index: 1;
}
.card-item:hover {
  height: 420px;
}
.card-item img {
  position: relative;
  width: 300px;
  height: 370px;
  min-height: 270px;
  margin-top: -60px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.card-content {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card-item:hover .card-content {
  visibility: visible;
  opacity: 1;
  margin-top: 30px;
  transition-delay: 0.3s;
}
.content-h2 {
  border-bottom: solid 1px #7c3983;
  font-family: "Font Name", sans-serif;
  color: #b96db7;
}
.description-section {
  min-height: 250px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description-section p {
  margin: 0 200px;
}

.description-section h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Font Name", sans-serif;
}
.box {
    border: 1px solid #f2e7f3da;
    padding: 20px;
    width: calc(50% - 10px);
  }
  
  .box img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 10px auto 10px;
    border-style: inherit;
  }
  
  .box p {
    font-size: 16px;
    text-align: center;
  }









/* FOOTER SEC */
.footer {
  min-height: 150px;
  background-color: rgba(243, 217, 228, 0.885);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-sec p {
  font-size: 20px;
  color: #000000;
  max-width: 200px;
}

.footer-sec i {
  font-size: 45px;
}
.corporation {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image-section {
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
}









/* GALLERY.HTML PAGE */
.gallery-title2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.gallery-page {
  width: 100%;
}

.gal-form {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: #000000ec;
  margin-top: 90px;
  padding-top: 70px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 30px;
}

.box1 {
  position: relative;
  width: 27%;
  cursor: pointer;
  overflow: hidden;
  transition: transform ease-in-out 0.5s;
  margin: 10px;
  margin-bottom: 100px;
  box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.827);
  border-radius: 5px;
}

.box1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box1:hover {
  transform: scale(1.2);
}








/* CONTACT.HTML PAGE */

.contactText {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.665);
  color: white;
  padding: 20px;
  margin-top: 60px;
}

.contactText p {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
}

.contactText input[type="text"],
.contactText input[type="email"],
.contactText textarea,
.contactText input[type="submit"] {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.contactText input[type="submit"] {
  background-color: rgb(195, 133, 133);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactText input[type="submit"]:hover {
  background-color: rgb(191, 115, 115);
}







/* THANK YOU PAGE */
.thankyou {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}


.thankyou h1 {
  font-size: 48px;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 3px 3px 5px #888888;
  transform: translateZ(30px);
  color: #333;
}

.thankyou h3 {
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 3px 3px 5px #888888;
  transform: translateZ(30px);
  color: #333;
}





/* MOBILE SCREEN */
@media screen and (max-width: 768px) {
  .container2 {
    max-width: 100%;
  }
  .container2 img {
    max-width: 80%;
  }
  .content2 {
    font-size: 16px;
  }
  .gallery-sec {
    height: 100%;
  }
  .gallery-title {
    margin-bottom: 0;
  }
  .gallery-item {
    margin-top: 150px;
    display: block;
  }
  .card-item {
    margin-bottom: 100px;
  }
  .description-section p {
    margin: 0;
    padding: 5px;
  }
  .container {
    display: block;
  }
  .box {
    width: auto;
  }
  .footer {
    flex-direction: column;
  }
  .footer-sec {
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-sec p {
    max-width: none;
  }
  .contactText input[type="text"],
  .contactText input[type="email"],
  .contactText textarea,
  .contactText input[type="submit"] {
    width: 95%;
  }
  .wrapper {
    display: flex;
    width: 100%;
  }
  .box1 {
    width: 70%;
  }
}




